@import "src/scss/colors.scss";

.breadcrumbs {
  padding: 30px;
  font-size: 16px;
  line-height: 120%;
  color: #0D0D0D;

  @media screen and (max-width: 950px) {
    font-size: 13px;
    padding: 30px 15px;
  }

  &__link{
    text-decoration: none;
    color: $black;
  }
}