@import "src/scss/colors.scss";

.article {
  padding-top: 0;
  padding-bottom: 90px;

  @media screen and (max-width: 950px) {
    padding-bottom: 60px;
  }

  &__advertisement {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 30px;
    height: 160px;

    background-color: #D9D9D9;
    border-radius: 5px;

    font-size: 16px;
    line-height: 120%;
    color: #0D0D0D;
    text-decoration: none;
  }

  &__wrapper {
    display: flex;
    column-gap: 20px;
  }

  &__body {
    background: $white;
    box-shadow: 0px 0px 1px #C4C4C4;
    border-radius: 5px;
    padding: 60px 100px;
    box-sizing: border-box;
  }

  &__img {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 30px;

    & img,
    & svg {
      width: 100%;
      height: auto;
      max-height: 530px;
      object-fit: cover;
      border-radius: 5px;
      filter: drop-shadow(0px 0px 1px #C4C4C4);
    }
  }

  &__excerpt {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 30px;
  }

  &__links {
    margin-bottom: 30px;
  }

  &__sidebar {
    min-width: 225px;
    width: 100%;
  }

  &-links {
    background: #F6F5F4;
    box-shadow: 0px 0px 1px #C4C4C4;
    border-radius: 5px;
    padding: 25px 35px;

    &__title {
      font-weight: 700;
      font-size: 28px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    &__item {
      display: block;
      width: fit-content;

      font-size: 18px;
      line-height: 21px;
      text-decoration-line: underline;
      color: $black;
      transition: 0.2s;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &:hover {
        color: $blue;
      }
    }
  }

  &__content {
    margin-bottom: 30px;
  }

  &-author {
    display: flex;
    column-gap: 20px;

    &__img {
      width: 67px;
      height: 67px;
      display: flex;
      border-radius: 50%;
      overflow: hidden;

      @media screen and (max-width: 950px) {
        display: none;
      }

      & img,
      & svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;

      @media screen and (max-width: 950px) {
        display: none;
      }
    }

    &__desc {
      font-size: 14px;
      margin-bottom: 10px;
      @media screen and (max-width: 950px) {
        display: none;
      }
    }

    &__bottom {
      display: flex;
      column-gap: 10px;
      font-size: 11px;
      line-height: 120%;
      color: $grey;
    }

    &__date,
    &__comments,
    &__likes {
      display: flex;
      align-items: center;
      column-gap: 5px;
    }
  }

  &-sidebar {
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 100%;
      height: 290px;
      background-color: #D9D9D9;
      border-radius: 5px;

      font-size: 16px;
      line-height: 120%;
      color: #0D0D0D;
      text-decoration: none;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}