@import "src/scss/colors.scss";

.footer {
  padding: 38px 30px;
  background-color: $white;

  @media screen and (max-width: 950px) {
   padding: 50px 15px;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    @media screen and (max-width: 950px) {
      margin-bottom: 50px;
    }
  }

  &-logo {
    height: 64px;

    & img,
    & svg {
      height: 100%;
      width: auto;
    }

    @media screen and (max-width: 950px) {
      height: 50px;
    }
  }

  &__menu {
    margin-bottom: 30px;

    @media screen and (max-width: 950px) {
      margin-bottom: 50px;
    }
  }

  &-menu {
    &__items {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 30px;
      list-style: none;
      padding: 0;
      margin: 0;

      @media screen and (max-width: 1450px) {
        flex-wrap: wrap;
        row-gap: 10px;
      }

      @media screen and (max-width: 950px) {
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 25px;
      }
    }

    &__link {
      text-decoration: underline;
      white-space: nowrap;
      /* подвал */

      font-family: Lato, sans-serif;
      font-size: 18px;
      line-height: 120%;

      @media screen and (max-width: 1450px) {
        font-size: 16px;
      }

      @media screen and (max-width: 950px) {
        font-size: 13px;
      }
    }
  }

  &__text {
    margin-bottom: 30px;
    text-align: center;

    @media screen and (max-width: 1450px) {
      font-size: 16px;
    }

    @media screen and (max-width: 950px) {
      font-size: 13px;
    }
  }

  &-socials {
    display: flex;
    justify-content: center;
    column-gap: 20px;

    &__item {
      display: flex;
      cursor: pointer;
      width: 45px;
      height: 45px;

      @media screen and (max-width: 950px) {
        width: 35px;
        height: 35px;
      }

      & svg,
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}