$white: #ffffff;
$white-dop: #fcfcfc;

$black: #100F0F;
$black-dop: #2F3640;

$grey-lite: #FCFCFC;
$grey: #D7E1E9;
$grey-dark: #C8C8C8;
$grey-light: #F5F6F6;
$grey-footnote: #5F6368;

$blue: #0079FF;
$blue-dark: #103F80;

$green: #46ED6C;