@import "src/scss/colors.scss";

.header {
  position: relative;

  & .cont {
    height: 100%;
  }

  &-top {
    box-sizing: border-box;
    padding: 0 30px;
    height: 80px;
    background-color: $white;
    z-index: 6;
    transition: 0.2s;
    position: relative;

    @media screen and (max-width: 1450px) {
      height: 70px;
    }

    @media screen and (max-width: 1199px) {
      height: 85px;
      padding: 10px 30px;
    }

    @media screen and (max-width: 950px) {
      padding: 8.5px 15px;
      height: auto;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    column-gap: 30px;

    @media screen and (max-width: 1450px) {
      column-gap: 15px;
    }
  }

  &__hamburger {
    display: none;

    @media screen and (max-width: 950px) {
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &-logo {
    height: 43px;

    @media screen and (max-width: 1450px) {
      height: 35px;
      width: auto;
    }

    @media screen and (max-width: 950px) {
      height: 43px;
    }

    & img,
    & svg {
      height: 100%;
      width: auto;
    }
  }

  &__menu {
    width: 100%;
    max-width: 1000px;

    @media screen and (max-width: 950px) {
      display: none;
    }
  }

  &-menu {
    display: flex;
    height: 100%;

    &__items {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;

      @media screen and (max-width: 1450px) {
        column-gap: 10px;
      }

      @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }

    &__link {
      font-size: 16px;
      line-height: 120%;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $black;
      position: relative;
      height: 100%;
      white-space: nowrap;
      box-sizing: border-box;

      @media screen and (max-width: 1450px) {
        font-size: 15px;
      }

      @media screen and (max-width: 1199px) {
        padding: 7px 5px;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 4px;
        background-color: $green;
      }

      &.active {
        &:after {
          width: 100%;
        }
      }
    }
  }

  &__actions {
    display: flex;
    column-gap: 30px;

    @media screen and (max-width: 1450px) {
      column-gap: 15px;
    }
  }

  &__action {
    display: flex;
    cursor: pointer;
    align-items: center;

    & img,
    & svg {
      @media screen and (max-width: 1450px) {
        height: 25px;
        width: auto;
      }

      @media screen and (max-width: 950px) {
        height: 30px;
        width: 40px;
      }
    }

    &--search,
    &--location {
      @media screen and (max-width: 950px) {
        display: none;
      }
    }
  }
}

.hamburger {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: calc(50% - 12.5px);
    left: calc(50% - 12.5px);
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
    border: 0px solid $blue;
    transition: 0.2s;
    box-sizing: border-box;
    opacity: 0;
  }

  &.active {

    &:before {
      opacity: 1;
      border: 2px solid $blue;
    }

    & .hamburger__line {
      width: 16.8px;
      height: 2px;

      &:nth-child(1) {
        transform: rotate(45deg);
        top: calc(50% - 1px);
        left: calc(50% - 8.4px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
        left: calc(50% - 8.4px);
      }
    }
  }

  &__line {
    position: absolute;
    left: calc(50% - 18px);
    width: 36px;
    height: 4px;
    border-radius: 4px;
    background-color: $blue;
    transition: 0.2s;

    &:nth-child(1) {
      top: 5px;
    }

    &:nth-child(2) {
      top: calc(50% - 2px);
    }

    &:nth-child(3) {
      top: calc(100% - 9px);
    }
  }
}

.mobile {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  width: 100%;
  background-color: $white;
  z-index: 10;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 15px;
  box-sizing: border-box;
  transition: 0.3s;
  transform: translateX(-100%);

  @media screen and (max-width: 950px) {
    display: block;
  }


  &.active {
    transform: translateX(0);
  }

  &__search {
    margin-bottom: 15px;
  }

  &__menu {
    margin-bottom: 20px;
  }

  &__location {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    color: $blue;
    column-gap: 10px;
  }

  &-search {
    position: relative;

    &__icon {
      position: absolute;
      top: calc(50% - 10px);
      left: 10px;
    }

    &__input {
      width: 100%;
      height: 40px;
      background: #F6F5F4;
      border: 1px solid #F6F5F4;
      box-shadow: 0px 0px 1px #C4C4C4;
      border-radius: 5px;
      padding-left: 40px;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-right: 13px;
      box-sizing: border-box;

      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      color: $black;
      z-index: 2;

      &::placeholder {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        color: #939699;
      }
    }

    &__button {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      opacity: 0;
    }
  }

  &-menu {
    display: flex;
    height: 100%;

    &__items {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__link {
      font-size: 13px;
      line-height: 120%;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $black;
      position: relative;
      height: 100%;
      white-space: nowrap;
      box-sizing: border-box;
      padding: 5px 0;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 4px;
        background-color: $green;
      }

      &.active {
        &:after {
          width: 100%;
        }
      }
    }
  }
}


.header {
  &-search {
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 30px;
    transform: translateY(-150%);
    animation-delay: 0.1s;
    transition: 0.3s;
    z-index: 5;

    @media screen and (max-width: 1450px) {
      top: 70px;
    }

    @media screen and (max-width: 1199px) {
      top: 85px;
    }

    &.active {
      transform: translateY(0);
    }
  }
}

.search-form {
  display: grid;
  align-items: center;
  grid-template-columns: auto 102px;
  grid-column-gap: 20px;
  height: 40px;

  &__input {
    position: relative;
    font-weight: 400;
    font-family: 'Montserrat Regular', sans-serif;
    background: #F6F5F4;
    border: 1px solid #F6F5F4;
    box-shadow: 0px 0px 1px #C4C4C4;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    line-height: 120%;
    height: 40px;
    padding: 5px 10px 5px 40px;
    color: #939699;


    &:focus {
      outline: none;
    }
  }

  &__img {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
  }

  &__btn {
    border: none;
    outline: none;
    cursor: pointer;
    width: 102px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    line-height: 15px;
    background: linear-gradient(180deg, #40CAF5 0%, #2ECC71 100%);
  }
}